<!DOCTYPE html>

<!-- Layout of login page -->

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>

    <!-- Stylesheet locations -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-theme.css" />

    <!-- Image locations -->
    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
